# Transient paths
backups/
autosaves/
url/cookies
url/cache
image-dired/
.cache
.DS_Store
elpa/
anaconda-mode/

# Transient files
company-statistics-cache.el
projectile-bookmarks.eld
ac-comphist.dat
\#*
.\#*
*~
savehist
recentf
tramp
places

# Compiled
*.elc
*.pyc

# Packaging
.cask
