# Transient paths
backups/
autosaves/
url/cookies
url/cache
.cache
.DS_Store
elpa/

# Transient files
company-statistics-cache.el
ac-comphist.dat
\#*
.\#*
*~
savehist
recentf
tramp
places

# Compiled
*.elc
*.pyc

# Packaging
.cask
